* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  display: grid;
  place-content: center;
  background-color: #ccdbf0;
}

/* component styles */
.qr-container {
  margin: 0px 24px;
  padding: 16px;
  background-color: #f5f5f5;
  font-family: sans-serif;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .qr-container {
    margin: auto;
    max-width: 20rem;
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.05);
  }
}
.qr-code {
  width: 100%;
  display: block;
}
.qr-text {
  padding: 16px;
}
@media screen and (min-width: 768px) {
  .qr-text {
    padding: 16px 8px 24px;
  }
}
.title,
.copy {
  display: block;
}
.qr-code,
.qr-container {
  border-radius: 1rem;
}
.title {
  font-size: 1.4rem;
  font-weight: 900;
  margin: 16px 0;
  color: #0b213f;
}
@media screen and (min-width: 768px) {
  .title {
    font-size: 1.25rem;
  }
}
.copy {
  font-size: 1rem;
  color: #919599;
}
@media screen and (min-width: 768px) {
  .copy {
    font-size: 0.95rem;
  }
}
